/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #FF8DCB;
  --subtitle-color: #353430;
  --title-color: #353430;
  --text-color: #353430;
  --focus-color: #FFC2E6;
  --button-color: #353430;
  --image-dark: url(../images/cover-image-light.png);

  .header__rec {
    display: none;
  }
}
